body {
    margin: 0;
    background-color: #f4f5f7;
}

.nav img {
    width: 90px;
    height: 100%;
    border-style: none;
}

.nav-link {
    float: right;
}

.nav {
    margin-bottom: 0px;
    padding: 30px 30px 0px 30px;

}

.nav ul li a {
    background: #fdbd00;
    color: #fff;
    border: 3px solid transparent;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.7;
    text-decoration: none;
}

.nav ul li a:hover {

    background-color: rgb(253 189 0 0.6);
    color: white;
    opacity: 0.5;
}

.nav ul {
    list-style: none;
}

.heading {
    margin-top: 0%;
    margin-left: 37%;
    margin-right: 37%;

}

.heading h3 {

    text-align: left;
    font-size: 2.125rem;
    margin: 80px 0 20px;

}

.login-form {
    margin-left: 37%;
    margin-right: 37%;

}

input[type=text],
input[type=password] {

    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 1px;
    box-shadow: none;
    box-sizing: border-box;
    height: 45px;
    padding: 6px 10px;
    width: 100%;
    margin: 10px 0;

}

.container a {
    color: #7e8591;
}

button {
    background-color: #1bb165;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
    border-style: none;

}

button:hover {
    opacity: 0.6;
}


@media screen and (min-width: 0px)and (max-width: 480px) {

    .external-signup-link {

        display: none;
    }
}

.external-signup-link a {
    margin: 0px;
    display: inline-block;
    width: 100%;

    height: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 15px;



}

/* width: 80%; */

.external-signup-link {

    text-align: center;
    margin-left: 37%;
    margin-right: 37%;
    padding: 5px;
    margin-bottom: 100px;
    padding-bottom: 100px;



}


.external-signup-link .signup-button-1 {

    margin: 0px;

    float: left;
    width: 47%;


    padding: 0px;



}


.external-signup-link .signup-button-2 {
    padding: 0px;
    margin: 0px;


    float: right;
    width: 47%;


}

.signup-button {

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 50%;
}


.signup-button-a {

    background-color: white;
    color: black;
    border: 2px solid #007bff;

}

.signup-button-a:hover {
    background-color: #007bff;
    color: white;
}

.signup-button-b {


    background-color: white;
    color: black;
    border: 2px solid #212029;
}

.signup-button-b:hover {

    background-color: #212029;
    color: white;
}

.footer a {
    text-decoration: none;
    font-family: Inter-SemiBold, sans-serif;
    font-size: 16px
}



.footer p {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 12px;
    font-family: Inter-Medium, sans-serif;
    opacity: 0.3;
}

.footer-link-3 {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 18px;
    text-decoration: none;



}

.footer .footer-link-2 {
    position: absolute;
    bottom: 20px;
    right: 150px;



}

.footer .footer-link-1 {
    position: absolute;
    bottom: 20px;
    right: 250px;



}

.footer .footer-links a {
    color: #212029;
    font-family: sans-serif;
    font-size: 16px;
}